@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Open Sans, Roboto, cursive;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.nav_bar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.nav_bar #menu {
  font-size: 20px;
  float: right;
}

.nav_bar #logo {
  font-size: 20px;
  float: left;
}

#header {
  background-color: #009973;
  color: white;
  text-align: center;
  clear: both;
  padding: 10px;
}

#content {
  width: 1000px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#content #intro {
  width: 582px;
  float: left;
  font-size: 21px;
}

#content #profile {
  float: right;
}

img[src="icons/profile.jpg"] {
  border-radius: 50%;
}

#footer {
  padding: 10px;
  margin-top: 350px;
  clear: both;
}

#footer #links {
  float: left;
}

#footer #copyright {
  float: right;
}

/* Projects.html page */

.proj {
  width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.proj .title {
  width: 385px;
  float: left;
  font-size: 18px;
}

.proj .desc {
  width: 585px;
  float: right;
  font-size: 18px;
}

.divider {
  width: 1000px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

#copy {
  padding: 10px;
  margin-top: 114px;
  float: right;
  clear: both;
}
